<h1>Addresses#new</h1>

<%= form_with model: @building do |f| %>
  <div>
    <p>name</p>
    <% f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <p>address</p>
    <% f.label :address %>
    <%= f.text_field :address %>
  </div>

  <%= f.submit 'ä½œæˆ' %>
<% end %>
